@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Merienda');

html,
body {
	background: url(./bg.png) no-repeat 50% 50%;
	background-size: cover;
	margin: 0;
	padding: 0%;
	height: 100%;
	width: 100%;
}

.logo {
	position: absolute;
	top: 18%;
	left: 37%;
}

.logo img {
	z-index: -1;
	height: 500px;
	width: 475px;
}

.intro {
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: auto;
	margin: auto;
	background: url(./bg.png) no-repeat 0% 50%;
	display: table;
	top: 0;
	background-size: cover;
}
.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}

.content h1 {
	font-family: 'Merienda', sans-serif;
	color: #f9f3f4;
	text-shadow: 0px 0px 300px #000;
	font-size: 350%;
}
.btn {
	border-radius: 9px;
	font-family: 'Oswald', sans-serif;
	color: #ffd700;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #ffd700 3px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover {
	color: #fff;
	border: solid #fff 3px;
}

@media screen and (max-width: 1024px) {
	.content h1 {
		font-size: 250%;
	}
	.btn {
		font-size: 110%;
		padding: 7px 15px;
	}
	.logo {
		position: absolute;
		top: 30%;
		left: 28%;
	}

	.logo img {
		z-index: -1;
		height: 500px;
		width: 430px;
	}
}
